In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df_awards = pd.read_csv('Dataset/Player Award Shares.csv')
pd.set_option('display.max_columns', None)
df_awards

,season,award,player,age,tm,first,pts_won,pts_max,share,winner,seas_id,player_id
0,2024,clutch_poy,Stephen Curry,35,GSW,45.0,298.0,495.0,0.602,True,31786,3903
1,2024,clutch_poy,DeMar DeRozan,34,CHI,34.0,272.0,495.0,0.549,False,31296,3872
2,2024,clutch_poy,Shai Gilgeous-Alexander,25,OKC,11.0,160.0,495.0,0.323,False,31769,4670
3,2024,clutch_poy,Nikola Jokić,28,DEN,4.0,85.0,495.0,0.172,False,31672,4352
4,2024,clutch_poy,Jalen Brunson,27,NYK,2.0,26.0,495.0,0.053,False,31429,4630
...,...,...,...,...,...,...,...,...,...,...,...,...
3371,1956,nba mvp,Mel Hutchins,27,FTW,9.0,9.0,80.0,0.113,False,1732,466
3372,1956,nba mvp,Dolph Schayes,27,SYR,2.0,2.0,80.0,0.025,False,1687,328
3373,1956,nba mvp,Bill Sharman,29,BOS,2.0,2.0,80.0,0.025,False,1652,419
3374,1956,nba mvp,Tom Gola,23,PHW,1.0,1.0,80.0,0.013,False,1748,607
3375,1956,nba mvp,Maurice Stokes,22,ROC,1.0,1.0,80.0,0.013,False,1729,602

In [3]:
df_awards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season     3376 non-null   int64
 1   award      3376 non-null   object
 2   player     3376 non-null   object
 3   age        3376 non-null   int64
 4   tm         3376 non-null   object
 5   first      3359 non-null   float64
 6   pts_won    3375 non-null   float64
 7   pts_max    3375 non-null   float64
 8   share      3375 non-null   float64
 9   winner     3375 non-null   object
 10  seas_id    3376 non-null   int64
 11  player_id  3376 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 316.6+ KB

In [4]:
df_awards.describe()

,season,age,first,pts_won,pts_max,share,seas_id,player_id
count,3376.000000,3376.000000,3359.00000,3375.000000,3375.000000,3375.000000,3376.000000,3376.000000
mean,2000.044431,26.150770,8.18696,72.827822,560.761481,0.128121,17888.002962,2921.282287
std,16.565107,3.836212,20.33892,168.607120,343.718835,0.227177,7986.536447,1104.782927
min,1956.000000,19.000000,0.00000,0.100000,17.000000,0.001000,1652.000000,248.000000
25%,1989.000000,23.000000,0.00000,2.000000,176.000000,0.006000,11647.000000,2176.000000
50%,2004.000000,26.000000,1.00000,7.000000,600.000000,0.020000,19036.000000,3096.000000
75%,2013.000000,29.000000,4.00000,45.000000,690.000000,0.128000,24193.250000,3783.000000
max,2024.000000,40.000000,159.00000,1310.000000,1310.000000,1.000000,31850.000000,5209.000000

In [5]:
df_mvp = df_awards[df_awards['award'] == 'nba mvp'].copy()
pd.unique(df_mvp['award'])

array(['nba mvp'], dtype=object)

In [6]:
df_mvp_top_3 = df_mvp.groupby('season').head(3)
df_mvp_top_3

,season,award,player,age,tm,first,pts_won,pts_max,share,winner,seas_id,player_id
42,2024,nba mvp,Nikola Jokić,28,DEN,79.0,926.0,990.0,0.935,True,31672,4352
43,2024,nba mvp,Shai Gilgeous-Alexander,25,OKC,15.0,640.0,990.0,0.646,False,31769,4670
44,2024,nba mvp,Luka Dončić,24,DAL,4.0,566.0,990.0,0.572,False,31593,4654
108,2023,nba mvp,Joel Embiid,28,PHI,73.0,915.0,1000.0,0.915,True,30764,4417
109,2023,nba mvp,Nikola Jokić,27,DEN,15.0,674.0,1000.0,0.674,False,30964,4352
...,...,...,...,...,...,...,...,...,...,...,...,...
3357,1957,nba mvp,Bob Pettit,24,STL,21.0,21.0,80.0,0.263,False,1772,549
3358,1957,nba mvp,Paul Arizin,28,PHW,9.0,9.0,80.0,0.113,False,1841,445
3368,1956,nba mvp,Bob Pettit,23,STL,33.0,33.0,80.0,0.413,True,1658,549
3369,1956,nba mvp,Paul Arizin,27,PHW,21.0,21.0,80.0,0.263,False,1737,445
3370,1956,nba mvp,Bob Cousy,27,BOS,11.0,11.0,80.0,0.138,False,1654,420